body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:900px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:15px;
  width:69px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:739px;
  top:13px;
  width:41px;
  height:24px;
  font-size:14px;
  color:#0099FF;
  text-align:left;
  line-height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:897px;
  top:13px;
  width:56px;
  height:24px;
  font-size:14px;
  color:#0099FF;
  text-align:left;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1061px;
  top:13px;
  width:39px;
  height:24px;
  font-size:14px;
  color:#0099FF;
  text-align:left;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1178px;
  top:13px;
  width:142px;
  height:28px;
  font-size:14px;
  color:#0099FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
