html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open sans', sans-serif;
}
/* section css */
#header {
	position: absolute;
	height: 5%;
	width: 30%;
	right: 2%;
	top: 2%;
	z-index: 3;
}
#map {
	height: 80%; 
	width: 100%;
}

#footer {
	position: absolute;
	height: 20%;
	width: 95%;
	left: 3%;
	bottom: 0;
}
/* element css */

/* header element */
#header div {
	display: inline;
	float: right;
	color: whitesmoke;
	background-color:  #1D9E0C;
	height: 100%;
}
#header form {
	outline: none;
	height: 100%;
}	
.searchbox {
	background-color:#FFFFFF;
	box-sizing:border-box;
}
button[type="submit"]{
	border: none;
	background-color:transparent;
	color: #1D9E0C;
}
#header input {
	height: 100%;
	border:none;
	background-color: #FFFFFF;
}
/* footer element*/
h2, p {
	font-family: 'Open sans', sans-serif;
}

.footer-div {
	display: inline;
	float: left;
	width: 33.33%;
}
