body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:768px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:768px;
}
