body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-270px;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:300px;
  width:100px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:768px;
  overflow:hidden;
  visibility:hidden;
  touch-action:pan-x;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:768px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:437px;
  top:324px;
  width:178px;
  height:180px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:33px;
  top:72px;
  width:27px;
  height:28px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:593px;
  top:36px;
  width:27px;
  height:28px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:227px;
  top:0px;
  width:200px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:316px;
  top:600px;
  width:10px;
  height:168px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:151px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:168px;
}
#u12 {
  position:absolute;
  left:304px;
  top:726px;
  width:35px;
  height:35px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#1F1F1F;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:31px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:44px;
  width:533px;
  height:36px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:36px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:188px;
  top:175px;
  width:260px;
  height:440px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:440px;
}
#u17 {
  position:absolute;
  left:2px;
  top:212px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:290px;
  top:260px;
  width:61px;
  height:65px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:768px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:-215px;
  top:0px;
  width:1080px;
  height:730px;
  overflow:hidden;
  touch-action:none;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(254, 254, 254, 1);
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  font-size:14px;
  color:#CCCCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
}
#u22 {
  position:absolute;
  left:2px;
  top:357px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:610px;
  top:255px;
  width:245px;
  height:76px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:610px;
  top:354px;
  width:245px;
  height:79px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:79px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:180px;
  width:580px;
  height:380px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:380px;
}
#u28 {
  position:absolute;
  left:2px;
  top:182px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:250px;
  top:255px;
  width:140px;
  height:240px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:240px;
}
#u30 {
  position:absolute;
  left:2px;
  top:112px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:304px;
  top:302px;
  width:32px;
  height:34px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
}
#u34 {
  position:absolute;
  left:2px;
  top:357px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:225px;
  top:370px;
  width:245px;
  height:100px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:100px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:225px;
  top:230px;
  width:245px;
  height:120px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:120px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:470px;
  top:180px;
  width:580px;
  height:380px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:380px;
}
#u40 {
  position:absolute;
  left:2px;
  top:182px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:690px;
  top:255px;
  width:140px;
  height:240px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:240px;
}
#u42 {
  position:absolute;
  left:2px;
  top:112px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:744px;
  top:302px;
  width:32px;
  height:34px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  font-size:14px;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
}
#u46 {
  position:absolute;
  left:2px;
  top:357px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:610px;
  top:255px;
  width:245px;
  height:76px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:610px;
  top:363px;
  width:245px;
  height:76px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:30px;
  top:180px;
  width:580px;
  height:380px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:380px;
}
#u52 {
  position:absolute;
  left:2px;
  top:182px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:250px;
  top:255px;
  width:140px;
  height:240px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:240px;
}
#u54 {
  position:absolute;
  left:2px;
  top:112px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:304px;
  top:302px;
  width:32px;
  height:34px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:225px;
  top:226px;
  width:245px;
  height:76px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:right;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:225px;
  top:329px;
  width:245px;
  height:57px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:57px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:225px;
  top:396px;
  width:245px;
  height:95px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:95px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:470px;
  top:180px;
  width:580px;
  height:380px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:380px;
}
#u64 {
  position:absolute;
  left:2px;
  top:182px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:690px;
  top:255px;
  width:140px;
  height:240px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:240px;
}
#u66 {
  position:absolute;
  left:2px;
  top:112px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:744px;
  top:302px;
  width:32px;
  height:34px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u68 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:610px;
  top:224px;
  width:245px;
  height:76px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:610px;
  top:324px;
  width:245px;
  height:76px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:30px;
  top:180px;
  width:580px;
  height:380px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:380px;
}
#u74 {
  position:absolute;
  left:2px;
  top:182px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:610px;
  top:410px;
  width:245px;
  height:76px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:76px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:250px;
  top:255px;
  width:140px;
  height:240px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:240px;
}
#u78 {
  position:absolute;
  left:2px;
  top:112px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:304px;
  top:302px;
  width:32px;
  height:34px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:730px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:225px;
  top:260px;
  width:245px;
  height:90px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:right;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:90px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:220px;
  top:360px;
  width:250px;
  height:140px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:140px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:470px;
  top:180px;
  width:580px;
  height:380px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:380px;
}
#u86 {
  position:absolute;
  left:2px;
  top:182px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:690px;
  top:255px;
  width:140px;
  height:240px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:240px;
}
#u88 {
  position:absolute;
  left:2px;
  top:112px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:744px;
  top:302px;
  width:32px;
  height:34px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:900px;
  width:650px;
  height:100px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:100px;
}
#u92 {
  position:absolute;
  left:2px;
  top:42px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:225px;
  top:0px;
  width:200px;
  height:100px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u94 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:301px;
  top:725px;
  width:40px;
  height:40px;
  opacity:0.5;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
  opacity:1;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:301px;
  top:-5px;
  width:40px;
  height:40px;
  opacity:0.5;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u97_img.mouseOver {
}
#u97.mouseOver {
  opacity:1;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:268px;
  top:579px;
}
#u99_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u99_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u100_img.mouseOver {
}
#u100.mouseOver {
  opacity:0.699999988079071;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:20px;
  top:0px;
  width:15px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u102_img.mouseOver {
}
#u102.mouseOver {
  opacity:0.699999988079071;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:40px;
  top:0px;
  width:15px;
  height:15px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u104_img.mouseOver {
}
#u104.mouseOver {
  opacity:0.699999988079071;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:60px;
  top:0px;
  width:15px;
  height:15px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u106_img.mouseOver {
}
#u106.mouseOver {
  opacity:0.699999988079071;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:80px;
  top:0px;
  width:15px;
  height:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u108_img.mouseOver {
}
#u108.mouseOver {
  opacity:0.699999988079071;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:100px;
  top:0px;
  width:15px;
  height:15px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u110_img.mouseOver {
}
#u110.mouseOver {
  opacity:0.699999988079071;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u99_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u112_img.mouseOver {
}
#u112.mouseOver {
  opacity:0.699999988079071;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:20px;
  top:0px;
  width:15px;
  height:15px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u114_img.mouseOver {
}
#u114.mouseOver {
  opacity:0.699999988079071;
}
#u115 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:40px;
  top:0px;
  width:15px;
  height:15px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u116_img.mouseOver {
}
#u116.mouseOver {
  opacity:0.699999988079071;
}
#u117 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:60px;
  top:0px;
  width:15px;
  height:15px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u118_img.mouseOver {
}
#u118.mouseOver {
  opacity:0.699999988079071;
}
#u119 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:80px;
  top:0px;
  width:15px;
  height:15px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u120_img.mouseOver {
}
#u120.mouseOver {
  opacity:0.699999988079071;
}
#u121 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:100px;
  top:0px;
  width:15px;
  height:15px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u122_img.mouseOver {
}
#u122.mouseOver {
  opacity:0.699999988079071;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u99_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u124_img.mouseOver {
}
#u124.mouseOver {
  opacity:0.699999988079071;
}
#u125 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:20px;
  top:0px;
  width:15px;
  height:15px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u126_img.mouseOver {
}
#u126.mouseOver {
  opacity:0.699999988079071;
}
#u127 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:40px;
  top:0px;
  width:15px;
  height:15px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u128_img.mouseOver {
}
#u128.mouseOver {
  opacity:0.699999988079071;
}
#u129 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:60px;
  top:0px;
  width:15px;
  height:15px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u130_img.mouseOver {
}
#u130.mouseOver {
  opacity:0.699999988079071;
}
#u131 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:80px;
  top:0px;
  width:15px;
  height:15px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u132_img.mouseOver {
}
#u132.mouseOver {
  opacity:0.699999988079071;
}
#u133 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:100px;
  top:0px;
  width:15px;
  height:15px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u134_img.mouseOver {
}
#u134.mouseOver {
  opacity:0.699999988079071;
}
#u135 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u99_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u136_img.mouseOver {
}
#u136.mouseOver {
  opacity:0.699999988079071;
}
#u137 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:20px;
  top:0px;
  width:15px;
  height:15px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u138_img.mouseOver {
}
#u138.mouseOver {
  opacity:0.699999988079071;
}
#u139 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:40px;
  top:0px;
  width:15px;
  height:15px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u140_img.mouseOver {
}
#u140.mouseOver {
  opacity:0.699999988079071;
}
#u141 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:60px;
  top:0px;
  width:15px;
  height:15px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u142_img.mouseOver {
}
#u142.mouseOver {
  opacity:0.699999988079071;
}
#u143 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:80px;
  top:0px;
  width:15px;
  height:15px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u144_img.mouseOver {
}
#u144.mouseOver {
  opacity:0.699999988079071;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:100px;
  top:0px;
  width:15px;
  height:15px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u146_img.mouseOver {
}
#u146.mouseOver {
  opacity:0.699999988079071;
}
#u147 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u99_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u148_img.mouseOver {
}
#u148.mouseOver {
  opacity:0.699999988079071;
}
#u149 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:20px;
  top:0px;
  width:15px;
  height:15px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u150_img.mouseOver {
}
#u150.mouseOver {
  opacity:0.699999988079071;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:40px;
  top:0px;
  width:15px;
  height:15px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u152_img.mouseOver {
}
#u152.mouseOver {
  opacity:0.699999988079071;
}
#u153 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:60px;
  top:0px;
  width:15px;
  height:15px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u154_img.mouseOver {
}
#u154.mouseOver {
  opacity:0.699999988079071;
}
#u155 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:80px;
  top:0px;
  width:15px;
  height:15px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u156_img.mouseOver {
}
#u156.mouseOver {
  opacity:0.699999988079071;
}
#u157 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:100px;
  top:0px;
  width:15px;
  height:15px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u158_img.mouseOver {
}
#u158.mouseOver {
  opacity:0.699999988079071;
}
#u159 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u99_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u160_img.mouseOver {
}
#u160.mouseOver {
  opacity:0.699999988079071;
}
#u161 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:20px;
  top:0px;
  width:15px;
  height:15px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u162_img.mouseOver {
}
#u162.mouseOver {
  opacity:0.699999988079071;
}
#u163 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:40px;
  top:0px;
  width:15px;
  height:15px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u164_img.mouseOver {
}
#u164.mouseOver {
  opacity:0.699999988079071;
}
#u165 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:60px;
  top:0px;
  width:15px;
  height:15px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u166_img.mouseOver {
}
#u166.mouseOver {
  opacity:0.699999988079071;
}
#u167 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:80px;
  top:0px;
  width:15px;
  height:15px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168_img.mouseOver {
}
#u168.mouseOver {
  opacity:0.699999988079071;
}
#u169 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:100px;
  top:0px;
  width:15px;
  height:15px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u170_img.mouseOver {
}
#u170.mouseOver {
  opacity:0.699999988079071;
}
#u171 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:768px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(31, 31, 31, 1);
  background-image:url('../../images/index/u2_state2.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u172 {
  position:absolute;
  left:355px;
  top:457px;
  width:285px;
  height:134px;
  font-family:'Montserrat Light', 'Montserrat';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:134px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:355px;
  top:238px;
  width:285px;
  height:102px;
  font-family:'Montserrat Light', 'Montserrat';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:102px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:305px;
  top:383px;
  width:20px;
  height:16px;
  color:#FFFFFF;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  visibility:hidden;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:161px;
  top:163px;
  width:124px;
  height:39px;
  font-family:'Lucida Sans Unicode Regular', 'Lucida Sans Unicode';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:0px;
  top:318px;
  width:289px;
  height:153px;
  font-family:'Montserrat Light', 'Montserrat';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:153px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:220px;
  top:0px;
  width:200px;
  height:100px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u183 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:315px;
  top:0px;
  width:10px;
  height:768px;
}
#u184_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u184_end {
  position:absolute;
  left:-5px;
  top:751px;
  width:20px;
  height:18px;
}
#u184_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:768px;
}
#u185 {
  position:absolute;
  left:295px;
  top:262px;
  width:50px;
  height:50px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u186 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:295px;
  top:161px;
  width:50px;
  height:50px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u188 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:295px;
  top:374px;
  width:50px;
  height:50px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u190 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:295px;
  top:500px;
  width:50px;
  height:50px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u192 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:354px;
  top:234px;
  width:73px;
  height:21px;
  font-family:'Montserrat Light', 'Montserrat';
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:0px;
  top:950px;
  width:640px;
  height:100px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u196 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:300px;
  top:718px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#1F1F1F;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u197_img.mouseOver {
}
#u197.mouseOver {
}
#u198 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:300px;
  top:6px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#1F1F1F;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u199_img.mouseOver {
}
#u199.mouseOver {
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u2_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:768px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201 {
  position:absolute;
  left:295px;
  top:300px;
  width:50px;
  height:50px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u202 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:220px;
  top:0px;
  width:200px;
  height:100px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u204 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:-224px;
  top:718px;
  width:1080px;
  height:50px;
  overflow:hidden;
}
#u206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(33, 33, 33, 1);
  background-image:none;
}
#u206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u207 {
  position:absolute;
  left:0px;
  top:13px;
  width:250px;
  height:21px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:434px;
  top:14px;
  width:213px;
  height:21px;
  font-family:'Nirmala UI Regular', 'Nirmala UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:21px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:536px;
  top:18px;
  width:17px;
  height:17px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#B71C1C;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:887px;
  top:5px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u214 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:936px;
  top:5px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:984px;
  top:5px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:1032px;
  top:5px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u220 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:0px;
  top:170px;
  width:1080px;
  height:100px;
  font-size:14px;
  color:#CCCCCC;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
}
#u222 {
  position:absolute;
  left:2px;
  top:42px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:300px;
  top:0px;
  width:40px;
  height:40px;
  opacity:0.5;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u223_img.mouseOver {
}
#u223.mouseOver {
  opacity:1;
}
#u224 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:0px;
  top:107px;
  width:640px;
  height:600px;
}
#u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:600px;
}
#u226 {
  position:absolute;
  left:480px;
  top:117px;
  width:200px;
  height:200px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u227 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:566px;
  top:194px;
  width:28px;
  height:28px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u228_img.mouseOver {
}
#u228.mouseOver {
}
#u229 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:0px;
  top:550px;
  width:640px;
  height:157px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:157px;
}
#u231 {
  position:absolute;
  left:2px;
  top:70px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:fixed;
  left:10px;
  top:20px;
  visibility:hidden;
}
#u232_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u233 {
  position:absolute;
  left:20px;
  top:135px;
  width:10px;
  height:5px;
}
#u233_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u233_end {
  position:absolute;
  left:-5px;
  top:-12px;
  width:20px;
  height:18px;
}
#u233_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:5px;
}
#u234 {
  position:absolute;
  left:20px;
  top:95px;
  width:10px;
  height:5px;
}
#u234_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u234_end {
  position:absolute;
  left:-5px;
  top:-12px;
  width:20px;
  height:18px;
}
#u234_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:5px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
}
#u236 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:20px;
  top:115px;
  width:10px;
  height:5px;
}
#u237_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u237_end {
  position:absolute;
  left:-5px;
  top:-12px;
  width:20px;
  height:18px;
}
#u237_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:5px;
}
#u238 {
  position:absolute;
  left:18px;
  top:80px;
  width:15px;
  height:15px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u238_img.mouseOver {
}
#u238.mouseOver {
}
#u239 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:18px;
  top:100px;
  width:15px;
  height:15px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u240_img.mouseOver {
}
#u240.mouseOver {
}
#u241 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:18px;
  top:120px;
  width:15px;
  height:15px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u242_img.mouseOver {
}
#u242.mouseOver {
}
#u243 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:14px;
  top:137px;
  width:23px;
  height:24px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#F7B812;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u246 {
  position:absolute;
  left:14px;
  top:137px;
  width:23px;
  height:24px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:transparent;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u246_img.mouseOver {
}
#u246.mouseOver {
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
